<div class="principal">
    
     <h1 class="titulo"> Experiencia</h1>

<div class="row">

   
    <div class="col-lg-1"></div>
    <div class="col-lg-1"></div>
    <div class="col-lg-8">

        <ul>
            <li>
                <h2 class="">Trabajo  1</h2> - <h3>Años</h3>
            </li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis magnam molestias cupiditate tenetur pariatur dolore quisquam voluptate rerum reiciendis perferendis sunt, nisi necessitatibus consectetur alias fuga est totam dolor. Quas.</p>


        </ul>

        <ul>
            <li>
                <h2>Trabajo 2</h2> - <h3>Años</h3>
            </li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis magnam molestias cupiditate tenetur pariatur dolore quisquam voluptate rerum reiciendis perferendis sunt, nisi necessitatibus consectetur alias fuga est totam dolor. Quas.</p>


        </ul>

        <ul>
            <li>
                <h2>Trabajo 3</h2> - <h3>Años</h3>
            </li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis magnam molestias cupiditate tenetur pariatur dolore quisquam voluptate rerum reiciendis perferendis sunt, nisi necessitatibus consectetur alias fuga est totam dolor. Quas.</p>


        </ul>
        
      
        
    </div>

    <div class="col-lg-1"></div>
    <div class="col-lg-1"></div>
</div>

</div>




