.row {
   text-align: center;

   background-image: linear-gradient(to top , #343434 10%  , #F5F6F8 70%);

   padding-bottom: 50px;

   
   }




#boton{
   margin-top: 0px;
   width: 400px;
   

}

@media screen and (min-width: 768px){
	#perfil{
      margin-top: 20px;
      height: 400px;
      width: 400px;
      box-shadow: 2px 2px 5px black;
      

}

}  


@media screen and (max-width: 768px ){
	#perfil{
      margin-top: -150px;
      height: 400px;
      width: 400px;
      
      

}

}  

