<div class="row" id="todo">
    <h1>EDUCACIÓN</h1>
    <div class="col-lg-2" class="centrado">
        <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">
            Agregar Educacion
        </button>





    </div>

  

    
    <div class="col-lg-12">
        <table class="table">
            <tbody class="botones">
                <tr *ngFor="let Educacion of educacion" id="bot">
                    <td class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h2>{{Educacion.nombreE}}</h2>
                    </td>   
                    <td class="col-xs-12 col-sm-12 col-md-6 col-lg-6"> <h3>{{Educacion.descripcionE}}</h3></td>
                    
                    
                    <td *ngIf="isLogged" class="botones">
                        <button class="btn btn-light" routerLink="/editedu/{{Educacion.id}}">
                            <i class="bi bi-pencil-fill"></i> EDITAR</button>
                    </td>
                    <td *ngIf="isLogged" class="botones">
                        <button class="btn btn-light" (click)="delete(Educacion.id)">
                            <i class="bi bi-trash-fill"></i> BORRAR</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>


    <!--
    <div class="col-lg-12">
        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of educacion">
                    <td>
                        <h2>{{Educacion.nombreE}}</h2>
                    </td>
                    <td><h3>{{Educacion.descripcionE}}</h3></td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/editedu/{{Educacion.id}}">
                            <i class="bi bi-pencil-fill"></i> EDITAR</button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-light" (click)="delete(Educacion.id)">
                            <i class="bi bi-trash-fill"></i> BORRAR</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
-->

