#todo{text-align: center;
    padding-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    color:#F5F6F8;}
.row{
    padding: 0px;
    background-color: #343434;
    text-align: center;
}

.contenedor {
        width: auto;

}
.parte1, .parte2 {
    display: inline-block;
    text-align: justify;
    padding-top: 20px;
    font-family: 'Courier New', Courier, monospace;
color:#F5F6F8 ;



}

.parte2{padding-bottom: 20px;
;}

.imgproyecto {

    box-shadow: 5px 5px 10px black;
    text-align: center  ;


}

#titulo {
    text-align: center;
padding-top: 20px;
font-family: 'Courier New', Courier, monospace;
color:#DC8924; ;

    


}

#titul {
    text-align: center;
padding-top: 20px;
font-family: 'Courier New', Courier, monospace;
color:#DC8924; ;

    


}



#centrado {text-align: center;
align-items: center;
width: 100%;}

.centrado {text-align: center;
align-items: center;
width: 100%;}


#fotopro{
    
    width: 100%;
    max-width: 500px;
    max-height: 282px;
    padding-top: 10px;
    padding-bottom: 10px;
  
    
    

}


h2, h3 {
    font-family: 'Courier New', Courier, monospace;
color:#F5F6F8;
font-size: medium;
text-align: justify;
text-align: center;
padding-top: 100px;
padding-bottom: 20px;
max-width: 80ch;


}

#centrado {text-align: center;
    align-items: center;
    width: 100%;}
    
    .centrado {text-align: center;
    align-items: center;
    width: 100%;
padding-top: 20px;
padding-bottom: 20px;}

.botones {
    padding-top: 20px;
    padding-bottom: 20px;
}

#botones {

    padding-top: 100px;
}






