#todo {  text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 50px;
   background-color: #343434;}

#bot{text-align: center;}

.principal {margin-top: 0px;}

.titulo {text-align: center;
padding-top: 20px;
font-family: 'Courier New', Courier, monospace;
color:#DC8924;;
width: 100%;


}


.row {padding: 20px;
    padding-bottom: 40px;
    font-family: 'Courier New', Courier, monospace;
    color:#F5F6F8;
  
    }

div{background-color: #343434}

h2, h3 {
    display: inline;
    font-family: 'Courier New', Courier, monospace;
color:#F5F6F8;

}

#centrado {text-align: center;
    align-items: center;
    width: 100%;}
    
    .centrado {text-align: center;
    align-items: center;
    width: 100%;}
    
