<div class="row" id="todo">
    <h1>EXPERIENCIA LABORAL</h1>
    <div class="col-lg-2" class="centrado">
        <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
            Nueva Experiencia
        </button>
    </div>

   
    <div class="col-lg-12">
        <table class="table">
            <tbody class="botones">
                <tr *ngFor="let Experiencia of expe" id="bot">
                    <td>
                        <h2>{{Experiencia.nombreE}}</h2>
                    </td>
                    <td>{{Experiencia.descripcionE}}</td>
                    <td *ngIf="isLogged" class="botones">
                        <button class="btn btn-light" routerLink="/editexp/{{Experiencia.id}}">
                            <i class="bi bi-pencil-fill"></i> EDITAR</button>
                    </td>
                    <td *ngIf="isLogged" class="botones">
                        <button class="btn btn-light" (click)="delete(Experiencia.id)">
                            <i class="bi bi-trash-fill"></i> BORRAR</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>


<!-- 

<div class="principal">

    <h1 class="titulo"> Experiencia</h1>

   
    
    <div class="row">


      
            <table class="table">


                <tbody>
                    <tr *ngFor="let Experiencia of expe">
                        <td>
                            {{Experiencia.nombreE}}
                        </td>
                        <td>
                            {{Experiencia.descripcionE}}
                        </td>
                        <td>
                            Editar
                        </td>
                        <td>
                            Eliminar
                        </td>
                    </tr>
                </tbody>

            </table>
        


    </div>

</div>-->