
<!--
<div class="container" *ngIf="educacion">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">

                <div class="form-group">
                    <label for="nombreE">Nombre de la institucion</label>
                    <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="kys.nombreE" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE">Descripcion de sus estudios</label>
                    <input type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="kys.descripcionE" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE2">Descripcion de sus estudios</label>
                    <input type="text" class="form-control" id="descripcionE2" name="descripcionE2" [(ngModel)]="kys.descripcionE2" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE3">Descripcion de sus estudios</label>
                    <input type="text" class="form-control" id="descripcionE3" name="descripcionE3" [(ngModel)]="kys.descripcionE3" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE4">Descripcion de sus estudios</label>
                    <input type="text" class="form-control" id="descripcionE4" name="descripcionE4" [(ngModel)]="kys.descripcionE4" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE5">Descripcion de sus estudios</label>
                    <input type="text" class="form-control" id="descripcionE5" name="descripcionE5" [(ngModel)]="kys.descripcionE5" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE6">Descripcion de sus estudios</label>
                    <input type="text" class="form-control" id="descripcionE6" name="descripcionE6" [(ngModel)]="kys.descripcionE6" required>
                </div>
                <button class="btn btn-primary">
                    Actualizar
                </button>
            </form>
        </div>
    </div>
</div>
-->