
.gradient-custom {
    

    background: #343434;
    width: 100%;
    height: 100%;
    
 
    }

.fondo1{

    background: #343434;

}
.fondo2{

    background: #343434;
    height: 600px;

}

#bot{

    margin-top: 50px;
    margin-bottom: 1px;

}

.cualidad{ 
    margin-top: 50px;
}
.hab1{ margin-top: 30px;}
.hab2{ margin-top: 30px;}
.hab3{ margin-top: 30px;}
.hab4{ margin-top: 30px;}
.hab5{ margin-top: 30px;}
.hab6{ margin-top: 30px;}

