
 .titulo {text-align: center;
    padding-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    color:#343434;
    }



.row {
    
    
    text-align: center;
    padding-top: 20px;
    padding-bottom: 60px;


}

#cir {

    padding-top:40px ;



}


.maestro {
      
    background-image: linear-gradient( #F5F6F8 60% , #343434 )
   
  
} 


