
 .titulo {text-align: center;
    padding-top: 0px;
    font-family: 'Courier New', Courier, monospace;
    color:#a95922;;
    margin-left: 3.5%;
    margin-right: 3.5%;
    }



.row {
    
    
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;


}

#cir {

    padding-top:40px ;



}


.maestro {
      
    background-color: #343434;
    width: 100.65%;
   
  
} 

#segundo{
    padding-bottom: 60px;
}

#cualidad{
    padding-bottom: 20px;
    
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding-top: 60px;
    color: #F5F6F8;
    ;
    
}

.negro{

    background-color: #252525;
    border-radius: 10px;
   margin-left: 3.5%;
    margin-right: 3.5%;
}

#boton{
    width: 100%;
    
   

}

#tit{
    padding-bottom: 30px;
}