<div class="maestro">



<div class="row">

  <div class="titulo">

    <h1 class="titulo"> Hard y Soft Skils </h1>
  
  </div>
  


<div class="col-sm-12 col-md-4 col-lg-4" id="cir">
  <circle-progress
  [percent]="85"
  [radius]="100"
  [imageSrc]="'../../../assets/4.png'"
  [showImage]="true"
  [imageHeight]="50"
  [imageWidth]="50"
  [outerStrokeWidth]="12"
  [innerStrokeWidth]="2"
  [outerStrokeColor]="'#DC8924'"
  [innerStrokeColor]="'#DC8924'"
  [animation]="true"
  [animationDuration]="1000"
></circle-progress>
</div>


<div class="col-sm-12 col-md-4 col-lg-4" id="cir">
  <circle-progress
  [percent]="85"
  [radius]="100"
  [imageSrc]="'../../../assets/1.png'"
  [showImage]="true"
  [imageHeight]="50"
  [imageWidth]="50"
  [outerStrokeWidth]="12"
  [innerStrokeWidth]="2"
  [outerStrokeColor]="'#DC8924'"
  [innerStrokeColor]="'#DC8924'"
  [animation]="true"
  [animationDuration]="1000"
></circle-progress>
</div>

<div class="col-sm-12 col-md-4 col-lg-4" id="cir">
  <circle-progress
  [percent]="85"
  [radius]="100"
  [imageSrc]="'../../../assets/5.png'"
  [showImage]="true"
  [imageHeight]="50"
  [imageWidth]="50"
  [outerStrokeWidth]="12"
  [innerStrokeWidth]="2"
  [outerStrokeColor]="'#DC8924'"
  [innerStrokeColor]="'#DC8924'"
  [animation]="true"
  [animationDuration]="1000"
></circle-progress>

</div>

</div>




<div class="row">

  <div class="col-sm-12 col-md-4 col-lg-4" id="cir">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [imageSrc]="'../../../assets/3.png'"
    [showImage]="true"
    [imageHeight]="50"
    [imageWidth]="50"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#DC8924'"
    [innerStrokeColor]="'#DC8924'"
    [animation]="true"
    [animationDuration]="1000"
  ></circle-progress>
  </div>
  
  
  <div class="col-sm-12 col-md-4 col-lg-4" id="cir">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [imageSrc]="'../../../assets/6.png'"
    [showImage]="true"
    [imageHeight]="50"
    [imageWidth]="50"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#DC8924'"
    [innerStrokeColor]="'#DC8924'"
    [animation]="true"
    [animationDuration]="1000"
  ></circle-progress>
  </div>
  
  <div class="col-sm-12 col-md-4 col-lg-4" id="cir">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [imageSrc]="'../../../assets/2.png'"
    [showImage]="true"
    [imageHeight]="50"
    [imageWidth]="50"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#DC8924'"
    [innerStrokeColor]="'#DC8924'"
    [animation]="true"
    [animationDuration]="1000"
  ></circle-progress>
  
  </div>
  
  </div>






</div>
