<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreE">¿Cual cree es su mejor cualidad personal?</label>
                    <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="nombreE" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE">Manejo de ingles (de 1 a 100)</label>
                    <input type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="descripcionE" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE2">Manejo de HTML5 (de 1 a 100)</label>
                    <input type="text" class="form-control" id="descripcionE2" name="descripcionE2" [(ngModel)]="descripcionE2" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE3">Manejo de CSS (de 1 a 100)</label>
                    <input type="text" class="form-control" id="descripcionE3" name="descripcionE3" [(ngModel)]="descripcionE3" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE4">Manejo de JAVA (de 1 a 100)</label>
                    <input type="text" class="form-control" id="descripcionE4" name="descripcionE4" [(ngModel)]="descripcionE4" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE5">Manejo de GITHUB (de 1 a 100)</label>
                    <input type="text" class="form-control" id="descripcionE5" name="descripcionE5" [(ngModel)]="descripcionE5" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE6">Manejo de grupos sociales (de 1 a 100)</label>
                    <input type="text" class="form-control" id="descripcionE6" name="descripcionE6" [(ngModel)]="descripcionE6" required>
                </div>
                <button class="btn btn-primary">
                    Agregar Aptitudes
                </button>
            </form>
        </div>
    </div>
</div>