<div class="row">

   
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <h1><p id="nombre">Mi nombre</p></h1>
        <p>Mi Titulo</p>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <span>

            <h1 id="acercade">Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro suscipit fugiat aliquid provident, blanditiis nobis cum hic ipsam laborum id quisquam earum assumenda praesentium saepe corrupti quas. Accusamus, deserunt veritatis.</p>

        </span>
    </div>



</div>