

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5" >
  
                <h2 class="fw-bold mb-2 text-uppercase">Mis redes sociales</h2>
                <p class="text-white-50 mb-5">Por favor, rellene los campos</p>
               
                <form (ngSubmit)="onUpdate()" novalidate #f="ngForm" >
                    <div class="form-group">
                        <label for="nombreE" class="text-white-50 mb-2">Facebook</label>
                        <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="red.nombreE" required>
                    </div>
                    <div class="form-group">
                        <label for="descripcionE" class="text-white-50 mb-2" >Github</label>
                        <input type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="red.descripcionE" required>
                    </div>
                    <div class="form-group">
                        <label for="descripcionE2" class="text-white-50 mb-2" >Instagram</label>
                        <input type="text" class="form-control" id="descripcionE2" name="descripcionE2" [(ngModel)]="red.descripcionE2" required>
                    </div>
                    <div class="form-group">
                        <label for="descripcionE3" class="text-white-50 mb-2" >Linkedin</label>
                        <input type="text" class="form-control" id="descripcionE3" name="descripcionE3" [(ngModel)]="red.descripcionE3" required>
                    </div>
                    <div class="form-group">
                        <label for="descripcionE4" class="text-white-50 mb-2" >Twitter</label>
                        <input type="text" class="form-control" id="descripcionE4" name="descripcionE4" [(ngModel)]="red.descripcionE4" required>
                    </div>
                    
                    <button class="btn btn-outline-light btn-lg px-5" id="bot">
                        EDITAR
                    </button>
                </form>
                
                
              </div>
  
                    
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>