
<div class="row">

    <div class="contenedor1">
            <div class="logo"><img src="../../../assets/Aplogo2.png" alt="" id="logoap"></div>


            <div class="social" *ngFor="let Redes of red">

                <button  type="button" class="btn btn-light" routerLink="/editredes/{{Redes.id}}" *ngIf="isLogged" id="botonaso"><i class="bi bi-pencil-fill"></i>
                    EDITAR REDES
                </button>

               

                <a *ngFor="let Redes of red" href="{{Redes.nombreE}}"><img src="../../../assets/face2.png" alt="" id="face"></a>
                <a *ngFor="let Redes of red" href="{{Redes.descripcionE}}"><img src="../../../assets/git2.png" alt="" id="git"></a>
                <a *ngFor="let Redes of red" href="{{Redes.descripcionE2}}"><img src="../../../assets/insta2.png" alt="" id="insta"></a>
                <a *ngFor="let Redes of red" href="{{Redes.descripcionE3}}"><img src="../../../assets/link2.png" alt="" id="link"></a>
                <a *ngFor="let Redes of red" href="{{Redes.descripcionE4}}"><img src="../../../assets/twi2.png" alt="" id="twi"></a>

               

            </div>
            
 <button type="button" class="btn btn-dark" (click)="login()" *ngIf="!isLogged" >Ingresar</button>
                <button type="button" class="btn btn-dark" (click)="onLogOut()" *ngIf="isLogged" >Cerrar Sesion</button>
    </div>



</div>