.row {

    padding: 40px;
    padding-bottom: 60px;
    
}

div {background-color: #343434;
text-align: center;
font-family: 'Courier New', Courier, monospace;
color:#F5F6F8;
font-size: medium;

}

#nombre {
    font-weight: ;
    margin-top: 4%;
    color:#DC8924;
  
}

#acercade{
    margin-top: 10px;
    font-weight: ;
    color: #DC8924;
    
  
}


