.con{width: 100%;
background-color: #343434;}

.contenedor{
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
}

.row {

    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 60px;
    
}

div {background-color: #343434;

font-family: 'Courier New', Courier, monospace;
color:#F5F6F8;
font-size: medium;
text-align: justify;
text-align: center;
}

#nombre {
    
    margin-top: 4%;
    color: #a95922;
  
}

#acercade{
    margin-top: 10px;
    
    color: #a95922;
    
  
}


#centrado {text-align: center;
    align-items: center;
    width: 100%;}
.centrado {text-align: center;
    align-items: center;
    width: 100%;}

    #botonaso{
        width: 100%;
    }
   
    


